form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

#sub{
    width: fit-content;
    cursor: pointer;
}

.whole{
    display: flex;
}

.left{
    margin-left: 25px;
    margin-right: 50px;
}

.resume{
    height: 750px;
    width: 575px;
    border: 2px solid black;
}

.oneline {
    display: flex;
    justify-content: space-between
}

.Inform, .Work{
    border-bottom: 1px solid black;
}

.title-company, .title-school{
    font-weight: bold;
}