:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    background-color: #ffffff; 
    background-image: linear-gradient(315deg, #ffffff 0%, hsl(175, 100%, 96%) 74%);
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form{
    display: flex;
    flex-direction: column;
}

#sub{
    width: fit-content;
    cursor: pointer;
}

.whole{
    display: flex;
}

.left{
    margin-left: 25px;
    margin-right: 45px;
    width: 500px;
}

.resume{
    height: 750px;
    width: 600px;
    border: 2px solid black;
    overflow-y:auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    background-color: white;
}

.oneline {
    display: flex;
    justify-content: space-between
}

input, textarea{
    background-color: transparent;
    margin: 3px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 6px;
    transition: 0.125s ease-in;
    border: 2px solid black;
    padding: 2px;
}

input:focus, textarea:focus {
    border: 2px solid orange;
    outline: none;
}

.Inform, .Work{
    border-bottom: 1px solid black;
}

.title-company, .title-school{
    font-weight: bold;
}

.dates{
    cursor: pointer;
}

.right{
    margin-right: 15px;
}

@media only screen and (max-width: 1000px) and (min-width: 550px) {
    .whole{
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 500px;
    }
}

@media only screen and (max-width: 1250px) and (min-width: 1000px) {
    .left{
        width: 400px;
    }
}

@media only screen and (max-width: 550px) {
    .left{
        margin-right: 5vw;
        margin-left: 5vw;
    }
    .whole{
        display: flex;
        flex-direction: column;
    }
    input, textarea{
        font-size: auto;
    }
}